body {
	background-image: url(https://raw.githubusercontent.com/HardyCorentin/JV1A_HARDYCORENTIN_UIRPGBATTLE/main/Contr%C3%B4le/ressources/environment_forest_alt1.png);
	background-repeat: no-repeat;  
	
}

div{ color : white;}
.playerinput {
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
    
}

.Mrolov{

	flex-direction: column;
	align-self: center ;

}